@import '../../styles/variables.scss';

.button {
  box-shadow: none;
  min-height: 32px;
  font-weight: 600;
  font-size: 11px;
  padding: 8px 12px;
  outline: none;
  border-radius: 6px;
  border: 2px solid transparent;
  transition: opacity 0.25s, border 0.25s;

  &_primary {
    background-color: $color-rgb-primary;
    color: $color-rgb-white;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }

    &:active {
      border: 2px solid rgba($color-rgb-primary, 0.3);
    }
  }

  &_secondary {
    background-color: $color-rgb-white;
    color: $color-rgb-black;
    border: 1px solid $color-rgb-black;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }

    &:active {
      border: 2px solid $color-rgb-primary;
    }
  }
}
