$color-rgb-primary: rgb(24, 160, 251);
$color-rgb-black: rgb(0, 0, 0);
$color-rgb-white: rgb(255, 255, 255);

$COLOR-LIGHT-GREY: #e5e5e5;
$COLOR-TEXT-PRIMARY: #212121;

$FIGMA-UI-WIDTH: 300px;
$FIGMA-UI-HEIGHT: 200px;
