@import '../styles/variables.scss';

.base {
  box-shadow: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin: 0 5px;
  outline: none;
  border-radius: 5px;
}

.primary {
  background-color: $color-rgb-primary;
  color: $color-rgb-white;
  border: none;

  &:hover {
    background-color: darken($color-rgb-primary, 15%);
    cursor: pointer;
  }
}

.secondary {
  background-color: $color-rgb-white;
  color: $color-rgb-primary;
  border: 2px solid $color-rgb-primary;

  &:hover {
    border-color: darken($color-rgb-primary, 15%);
    cursor: pointer;
    text-decoration: underline;
  }
}
